:host {
    ion-content {
      --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }
    .nombre_materia{
margin-left: 5vh;
    }
    .bg-white{
      border: solid 0.3px rgb(108, 117, 241);
    }
}