:host {
    ion-content {
      --background: var(--ion-color-dark);
    }
}

.left {
    float: left;
}

.avatar {
    width: calc(5vw - 1px);
    height: calc(5vw - 1px);
    border-radius: calc(2vw - 0.25px);
    z-index: 2;
}

.restrict {
    --height: 33px;
}

.input {
    background-color:#fff;
    height: 56px;
}

.animate {
    animation-name: fadeIn;
    animation-duration: 1s;
    transition: .1s;
}

.right{
    float: right;
}

.text {
    font-size: 16px;
}

.card {
    margin-bottom: 9px;
    max-width: 80%;
    padding: 12px;
    border-radius: 6px;
    border: .5px solid rgb(210, 210, 210);
    background-color: white;
}

.item-inner {
    height: 33px;
}

@keyframes fadeIn {
    0%{
        transform: translateY(15px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.input-position{
    background: linear-gradient(-135deg, var(--ion-color-dark), var(--ion-color-primary))
}

.custom-footer-row{
    height: 65px;
}

.chat-row{
    display: flex;
    flex-direction: row;
}

.reverse{
    flex-direction: row-reverse;
}

.name-row-left{
    background: white;
    padding: 5px 10px 5px 9vw;
    margin-left: -8vw;
    z-index: 1;
    color: black;
    width: fit-content;
    border-top-right-radius: 16px;
    font-size: 12px;
    position: relative;
    height: 6vw;
}

.name-row-right{
    background: white;
    padding: 5px 9vw 5px 10px;
    margin-right: -8vw;
    z-index: 1;
    color: black;
    text-align: right;
    width: fit-content;
    border-top-left-radius: 16px;
    font-size: 12px;
    position: relative;
    height: 6vw;
}

.name-row-parent-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name-row-parent-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-row-left{
    background: transparent;
    padding: 7px 15px 8px 11vw;
    margin-left: 0vw;
    min-height: 0vw;
    display: flex;
    align-items: center;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    color: rgb(255, 255, 255);
    position: relative;
}

.message-row-right{
    background: var(--ion-color-primary);
    padding: 7px 15vw 8px 11px;
    margin-right: -8vw;
    min-height: 0vw;
    display: flex;
    align-items: center;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    color: white;
    position: relative;
}

.avatar-parent{
    // border: 1vw solid white;
    z-index: 2;
    border-radius: 2vw;
    min-width: 5vw;
    height: 5vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar-border{
    position: absolute;
    width: 5vw;
    height: 5vw;
    top: 0;
    left: 0;
    border: 1vw solid white;
    border-radius: 50%;
    box-shadow: none;
    outline: none;
}
.reverse-arc-left{
    width: 3vw;
    height: 0vw;
    position: absolute;
    background: white;
    left: 5.8vw;
    bottom: -4vw;
    display: flex;
    justify-content: flex-end;
    border-bottom-right-radius: 4vw;
}
.reverse-arc-color-left{
    width: 3vw;
    height: 0vw;
    background: var(--ion-color-secondary);
    border-top-left-radius: 4vw;
    border-bottom-right-radius: 2vw;
}
.reverse-arc-right{
    width: 3vw;
    height: 0vw;
    position: absolute;
    background: white;
    right: 5.8vw;
    bottom: -4vw;
    display: flex;
    justify-content: flex-start;
    border-bottom-left-radius: 4vw;
}
#chat-parent{
    scroll-behavior: smooth;
}
.reverse-arc-color-right{
    width: 4vw;
    height: 4vw;
    background: var(--ion-color-primary);
    border-top-right-radius: 4vw;
    border-bottom-left-radius: 3vw;
}
.timer-left{
    position: absolute;
    right: -50px;
    color: rgba(255,255,255,0.7);;
    font-size: 12px;
    top: 4px;
}
.timer-right{
    position: absolute;
    left: -50px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    top: 4px;
}
.title-block{
    display: flex;
    justify-content: center;
    align-content: center;
}
.title-icon{
    font-size: 32px;
}
.title-text{
    padding-left: 5px;
    align-self: center;
}
.first-tick{
    font-size: 25px;
    position: absolute;
    left: -24px;
    top: -4px;
}
.second-tick{
    font-size: 25px;
    position: absolute;
    left: -28px;
    top: -4px;
}
.custom-footer{
    height: 65px;
}