<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'app.pages.chat.title.header' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content   class="ion-padding-vertical" fullscreen>
  <ion-grid>
    <ion-row >
      <ion-col size="3"></ion-col>
      <ion-col size="12" size-lg="6" size-md="4">
        <div id="chat-parent">
          <div #chat id="chat-container">
            <ion-row *ngFor="let conv of conversation; let i = index;" class="ion-padding">
              <ion-col class="no-padding chat-row" [ngClass]="{ 'reverse': conv.sender}">
                <div class="avatar-parent">
                  <div class="avatar-border"></div>
                  <img [src]="conv.image" onerror="this.src='/assets/img/avatar.png';" class="avatar">
                </div>
                <div [ngClass]="{ 'name-row-parent-right': conv.sender,'name-row-parent-left': !conv.sender}">
                  <div class="ion-no-padding" [ngClass]="{ 'name-row-right': conv.sender,'name-row-left': !conv.sender}">
                    {{conv.sender ? 'TU': broker.name}}
                    <div [ngClass]="{ 'timer-right': conv.sender,'timer-left': !conv.sender}">{{conv.hora}}
                      <ion-icon *ngIf="conv.sender && conv.sent" name="checkmark" [color]="conv.read ? 'd3green': 'light'"
                                class="first-tick"></ion-icon>
                      <ion-icon *ngIf="conv.sender && conv.delivered" name="checkmark"
                                [color]="conv.read ? 'd3green': 'light'" class="second-tick"></ion-icon>
                    </div>
                    <div [ngClass]="{ 'reverse-arc-right': conv.sender,'reverse-arc-left': !conv.sender}">
                      <div [ngClass]="{ 'reverse-arc-color-right': conv.sender,'reverse-arc-color-left': !conv.sender}"></div>
                    </div>
                  </div>
                  <div class="ion-no-padding"
                       [ngClass]="{ 'message-row-right': conv.sender,'message-row-left': !conv.sender}">
                    <ion-text class="ion-no-margin text">{{conv.text}}</ion-text>
                  </div>
                </div>

              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer translucent>
  <ion-grid>
    <ion-row >
      <ion-col size="3"></ion-col>
      <ion-col>
        <ion-row class="input-position">
          <ion-col size="9" size-lg="6" size-md="4" class="ion-no-padding">
            <ion-input class="ion-padding-start input restrict" type="text" placeholder="Escribe un mensaje"
                       [(ngModel)]="input">
            </ion-input>
          </ion-col>
          <ion-col size="3" class="ion-no-padding">
            <ion-button size="large" expand="full" class="ion-no-margin send-button" color="dark" (click)="send()">
              <ion-text color="light">ENVIAR</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>
