::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#000000;
}

.texticon{
  font-weight: bold;
  font-size: 10px;
}

ion-segment-button{
  --indicator-box-shadow: transparent!important;
  border-radius: 2.5rem !important;
  margin: 0;
  --background:white;
  --color:#8a8a8a;
  --background-checked: linear-gradient(to right, #ffffff, #ffffff)!important;
  --color-checked: #1051ac;
  --indicator-color : transparent!important;
  }
  .iconcomer{
    zoom: 1;
  }
  .segmentfinal{
  
    margin-right: 2vh;
    font-size: 1px;
  }