<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button color="primary" (click)="closeModal()">
				<ion-icon name="close" color="light"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title style="text-align: center">
			Filtros
		</ion-title>
		<ion-buttons slot="end">
			<ion-button size="small" shape="round" color="medium" tappable (click)="reiniciar()" routerDirection="forward">
			  <!--<ion-icon slot="icon-only" name="cog"></ion-icon>--> Reiniciar
			</ion-button>
		  </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<br>
	<div style="text-align: center">
		<ion-note color="primary"  style="font-size: 18px;font-weight: bold;">¿Qué deseas aprender?</ion-note>
	</div>
	<ion-item>
		<ion-label style="font-size: 13px;" color="black">Selecciona la categoría.</ion-label>
		<ion-select   [(ngModel)]="jsonfiltros.categoria" >
		  <ion-select-option  *ngFor="let obj of categorias"   [value]="obj.nombre">{{ obj.nombre }}
		  </ion-select-option>
		</ion-select>
	  </ion-item>
	<br>
	<div style="text-align: center">
		<ion-note color="primary"  style="font-size: 18px;font-weight: bold;">Horario</ion-note>
	</div>
	<ion-segment [(ngModel)]="jsonfiltros.filtrohorario">
	<ion-segment-button value="1" >
	   <p class="texticon">8-14H</p>
		<ion-icon name="sunny" class="iconcomer"></ion-icon>
	</ion-segment-button>

	  <ion-segment-button  value="2"  >
		 <p class="texticon">14-20H</p>
		<ion-icon   class="iconcomer" name="partly-sunny"></ion-icon>
	  </ion-segment-button>

	  <ion-segment-button  value="3"   >
		<p class="texticon">20-8H</p>
	   <ion-icon   class="iconcomer" name="moon"></ion-icon>
	 </ion-segment-button>

	 <ion-segment-button class="segmentfinal" value="4"   >
		<p class="texticon">Fin de semana</p>
	   <ion-icon   class="iconcomer" name="happy"></ion-icon>
	 </ion-segment-button>

	</ion-segment >

	
	<br>
	<div style="text-align: center">
		<ion-note color="primary"  style="font-size: 18px;font-weight: bold;">País del profesor</ion-note>
	</div>
	<ion-item>
		<ion-label style="font-size: 13px;" color="black">Selecciona pais.</ion-label>
		<ion-select   [(ngModel)]="jsonfiltros.pais" >
		  <ion-select-option  *ngFor="let obj of pais"   [value]="obj.nombre">{{ obj.nombre }}
		  </ion-select-option>
		</ion-select>
	  </ion-item>
	<br>
	<div style="text-align: center">
		<ion-note color="primary"  style="font-size: 18px;font-weight: bold;">El profesor habla</ion-note>
	</div>
	<ion-item>
		<ion-label style="font-size: 13px;" color="black">Selecciona idioma.</ion-label>
		<ion-select   [(ngModel)]="jsonfiltros.idioma" >
		  <ion-select-option  *ngFor="let searchKei of idiomas"   [value]="searchKei.nombre+' '+searchKei.nivel">{{ searchKei.nombre+' '+searchKei.nivel }}
		  </ion-select-option>
		</ion-select>
	  </ion-item>
	<br>
	<div style="text-align: center">
		<ion-note color="primary"  style="font-size: 18px;font-weight: bold;">Valoracion minima</ion-note>
	</div><br>
	<ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#DFB50D"
		defaultColor="#EAE9E5" readonly="false" rating="1" fontSize="32px" (ratingChanged)="logRatingChange($event)" style="
		text-align: center;">
	</ionic4-star-rating>
	<br><br>
	<div style="text-align: center">
		<ion-note color="primary"  style="font-size: 18px;font-weight: bold;">Precio Minimo/Maximo:</ion-note>
	</div>
	<ion-item class="ion-margin-bottom">

		<ion-range dualKnobs="true" [(ngModel)]="minmaxprice" min="0" [max]="maxprice" step="5" class="no-padding-top"
			(click)="logPriceChange($event)">
			<ion-label slot="start">
				<ion-text color="#000000">$ {{minmaxprice.lower}}</ion-text>
			</ion-label>
			<ion-label slot="end">
				<ion-text color="#000000">$ {{minmaxprice.upper}}</ion-text>
			</ion-label>
		</ion-range>
	</ion-item>

	<ion-button expand="full" color="dark" (click)="closeModal()">Filtrar</ion-button>
</ion-content>