<header id="header" style="background-color: #005b85">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #005b85; color: #FFFFFF">
        <h1 class="text-light" href="/#/">
            <a style="color: #FFFFFF" href="/#/" class="scrollto">
                <img src="assets/img/LOGO%20BLANCO.png" href="/#/" style="height: 5rem; padding-left:65px; padding-bottom: 25px;"></a>
        </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="color: #FFFFFF" href="/#/#intro">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #FFFFFF" href="/#/#about"> <i class=""></i> Objetivos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #FFFFFF" href="#services"> <i class=""></i>Categorias
                    </a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" style="color: #FFFFFF"  href="#portfolio"> Portafolio</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" style="color: #FFFFFF" href="#features"> <i class=""></i>Como Funciona</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #FFFFFF" (click)="openHomeLocation()"> <i class=""></i>Tutores</a>
                </li>

                <li class="nav-item" *ngIf="tipoUsuario === 'CLIENTE'">
                    <a class="nav-link" style="color: #FFFFFF" (click)="openLoginPage()"><i
                            class=""></i> Iniciar Sesión</a>
                </li>
                <li class="nav-item" *ngIf="tipoUsuario === 'CLIENTE'">
                    <a class="nav-link" style="color: #FFFFFF" (click)="openRegisterPage()"><i
                            class=""></i> Registrate</a>
                </li>
                <ion-buttons *ngIf="tipoUsuario != 'CLIENTE'" title="Menu">
                    <ion-menu-button color="tertiary"></ion-menu-button>
                </ion-buttons>
            </ul>

        </div>
    </nav>

</header>
<ion-header style="margin-top: 9%">

</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col >

            </ion-col>
            <ion-col size="12" size-lg="6" size-md="4"> 
                <ion-toolbar color="white">
                <ion-searchbar [(ngModel)]="searchKey" (ionChange)="onInput($event)" (ionCaancel)="onCancel($event)"
                               placeholder='Buscar'></ion-searchbar>
                </ion-toolbar>
            </ion-col>
            <ion-col size="12" size-lg="3" size-md="4" style="color:#000;">
                <ion-buttons >
                    <ion-button size="small" shape="round" color="#000" title="Filtros" (click)="searchFilter()">
                        <ion-icon name="options" ></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="ion-no-padding" fixed>
        <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">


            </ion-col>
            <!--<ion-col class="ion-no-padding">
              <ion-button class="ion-no-margin" expand="full" size="medium" color="primary"
                (click)="openPropertyListPage('rent')">
                En Linea
              </ion-button>
            </ion-col>-->
        </ion-row>


        <div *ngIf="!cargar" class="ion-no-margin" [@staggerIn]="properties">
            <!-- # -->
            <ion-grid >
                <ion-row>
                    <div  routerLink="/property-detail/{{property.id}}"
                             *ngFor="let property of properties | paginate: { itemsPerPage: 10, currentPage: p }" style="
                             width: 55vh;
                         ">
                    <ion-col size="12" size-lg="6" size-md="4" lines="none" class="bg-white" tappable>
                             

                            
                        <div
                        *ngIf="property.ensena != (0) && property.ensena != [] && property.price != null && property.price !='' && property.horas" lines="none" class="bg-white" tappable routerLink="/property-detail/{{property.id}}"
                        >
                            <ion-item>
                                <ion-thumbnail slot="start">
                                    <img style="border-radius: 50%;" [src]="property.picture"
                                         onerror="this.src='./assets/img/avatar.png';">
                                </ion-thumbnail>
                                <ion-label>
                                    <ion-row>
                                        <ion-col>
                                            <h2>
                                                <ion-text color="dark"><strong>{{ property.title }}</strong></ion-text>
                                            </h2>
                                            <p class="text-12x">
                                                <ion-text color="primary"
                                                          style="color: black">{{property.city}}</ion-text>
                                                <ion-text color="secondary">{{ property.price }}</ion-text>
                                            </p>
                                            <p class="text-12x">
                                                <ion-text color="black" *ngFor="let ensena of property.ensena">{{ ensena.nombre_materia }}. </ion-text>
                                              </p>


                                            <ion-badge slot="end" color="primary"
                                                       *ngIf="property.estado_usuario_cuenta === true">
                                                <ion-text color="light">En línea</ion-text>
                                            </ion-badge>

                                            <ion-badge slot="end" color="secondary" *ngIf="property.label === 'sale'">
                                                <ion-text color="light"></ion-text>
                                            </ion-badge>
                                        </ion-col>
                                        <ion-col style="text-align: right">
                                            <h2>
                                                <ion-text color="black"><strong>USD. {{ property.price }}/h</strong>
                                                </ion-text>
                                            </h2>
                                            <p class="text-12x">
                                                <ion-text color="black"><strong> </strong></ion-text>
                                            </p>
                                            <p class="text-12x">
                                                <ion-text color="primary"
                                                          style="color: black">{{property.ciudad_nombre}}</ion-text>
                                            </p>

                                        </ion-col>

                                    </ion-row>
                                    <ion-badge slot="end" color="primary" *ngIf="property.estado_usuario_linea === true">
                                        <ion-text color="light">En línea</ion-text>
                                    </ion-badge>

                                    <ion-badge slot="end" color="secondary" *ngIf="property.label === 'sale'">
                                        <ion-text color="light"></ion-text>
                                    </ion-badge>

                                    <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline"
                                                        activeColor="#ea8d16"
                                                        defaultColor="#e8dede" readonly="true"
                                                        [rating]="property.estrellas"
                                                        fontSize="22px" (ratingChanged)="logRatingChange($event)">
                                    </ionic4-star-rating>
                                </ion-label>
                            </ion-item>
                        </div>
                    
                    </ion-col>
                </div>
                </ion-row>
            </ion-grid>
            
        </div>
        
    </ion-grid>
    <!--<ion-button class="ion-margin" expand="full" color="secondary" (click)="openPropertyListPage()">
      {{ 'app.button.moreresults' | translate }}
    </ion-button>-->
   
    

</ion-content>

<ion-footer class="animated fadeIn">
    <pagination-controls  previousLabel="Anterior"nextLabel="Siguiente" (pageChange)="p = $event" style="text-align: center;"></pagination-controls>
    <ion-toolbar color="primary">
        <ion-grid class="ion-no-padding">
            <ion-row>
                <!--<ion-col size="4" class="ion-no-padding">
                  <ion-button size="small" expand="full" fill="clear" color="medium" routerLink="/nearby">
                    <ion-icon slot="start" name="compass"></ion-icon>
                    {{ 'app.button.nearby' | translate }}
                  </ion-button>
                </ion-col>
                <ion-col size="4" class="ion-no-padding">
                  <ion-button size="small" expand="full" fill="clear" color="medium" routerLink="/bycategory">
                    <ion-icon slot="start" name="apps"></ion-icon>
                    {{ 'app.button.bycategory' | translate }}
                  </ion-button>
                </ion-col>-->
                <ion-col class="ion-no-padding" *ngIf="tipoUsuario!='CLIENTE'">
                    <ion-button size="small" expand="full" fill="clear" color="medium" routerLink="/invoices">
                        <ion-icon slot="start" name="list-box"></ion-icon>
                        {{ 'app.button.invoices' | translate }}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
