<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.settings.title.header' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col >

        </ion-col>
        <ion-col size="12" size-lg="6" size-md="4"> 
  <ion-item class="bg-profile">
    <ion-avatar slot="start">
      <!-- <img src="assets/img/avatar.jpeg" class="user-avatar">-->
      <img style="border-radius: 50%;" [src]="picture" onerror="this.src='./assets/img/avatar.png';">
    </ion-avatar>
    <ion-label>
      <ion-text color="light">
        <h2>
          <strong>{{this._authService.getNombres()}}</strong><strong> {{this._authService.getApellidos()}}</strong>
        </h2>
      </ion-text>
      <ion-text color="tertiary">
        <h3>
          {{email}}
        </h3>
      </ion-text>
      <ion-button icon-left size="small" shape="round" color="dark" (click)="editProfile()">
        <ion-icon name="contact"></ion-icon>
        {{ 'app.pages.menu.editprofileseting' | translate }}
      </ion-button>
      <ion-button icon-left size="small" shape="round" color="secondary" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        {{ 'app.pages.menu.logoutseting' | translate }}
      </ion-button>
    </ion-label>
  </ion-item>


  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h5>Pago</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="card" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">Método de Pago</ion-label>
      <ion-select [(ngModel)]="paymentMethod">
        <ion-select-option *ngFor="let method of paymentMethods" [value]="method">{{method}}</ion-select-option>
      </ion-select>
    </ion-item>
   <!-- <ion-item>
      <ion-icon name="logo-usd" slot="start" color="dark"></ion-icon>
      <ion-label color="primary">Moneda</ion-label>
      <ion-select [(ngModel)]="currency">
        <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</ion-select-option>
      </ion-select>
    </ion-item>-->
  </ion-list>
  <!--<ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h5>Otras</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary">Habilitar Promociones</ion-label>
      <ion-toggle [(ngModel)]="enablePromo"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary">Enable History</ion-label>
      <ion-toggle [(ngModel)]="enableHistory"></ion-toggle>
    </ion-item>
  </ion-list>-->
</ion-col>
<ion-col>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>