<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button color="primary" (click)="closeModal()">
				<ion-icon name="close" color="light"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title style="text-align: center">
			Cambio de hora
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
<div>
  <ion-grid><br>
    <div style="color: #000000;text-align: center;">
      <ion-note class="fw700" style="color: #000000;">Seleccione una nueva hora para su tutoría</ion-note>
    </div><br><br>
    <ion-row>
      <ion-col style="text-align: center;">
        <div>
          <ion-icon style="color: #10009c;" name="bookmark"></ion-icon>
          <ion-note color="primary">Hora Pendiente </ion-note>
        </div>
      </ion-col>
      <ion-col style="text-align: center;">
        <div>
          <ion-icon style="color: #eb1414;" name="bookmark"></ion-icon>
          <ion-note color="danger">Hora Confirmada</ion-note>
        </div>
      </ion-col>
      <ion-col style="text-align: center;">
        <div>
          <ion-icon style="color: #009c17;" name="bookmark"></ion-icon>
          <ion-note style="color: #009c17;">Hora Disponible</ion-note>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ng-template #template let-tm="tm" let-hourParts="hourParts" let-eventTemplate="eventTemplate">
  <div [ngClass]="{'calendar-event-wrap': tm.events}" *ngIf="tm.events">
    <div *ngFor="let displayEvent of tm.events">
      <div *ngIf="displayEvent.event.reservado==1">
        <div (click)="disponible(displayEvent)" [class.active]="displayEvent.event.id == activeid && active" style="background-color: rgb(0, 156, 23);"
          class="calendar-event" tappable (press)="Options(displayEvent.event.id)"
          (tap)="onEventSelected(displayEvent.event)"
          [ngStyle]="{top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}">
        </div>
      </div>
      <div *ngIf="displayEvent.event.reservado==2">
        <div [class.active]="displayEvent.event.id == activeid && active" style="background-color: rgb(16, 0, 156);"
          class="calendar-event" tappable (press)="Options(displayEvent.event.id)"
          (tap)="onEventSelected(displayEvent.event)"
          [ngStyle]="{top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}">
        </div>
      </div>
      <div *ngIf="displayEvent.event.reservado==3">
        <div [class.active]="displayEvent.event.id == activeid && active" style="background-color: rgb(235, 20, 20);"
          class="calendar-event" tappable (press)="Options(displayEvent.event.id)"
          (tap)="onEventSelected(displayEvent.event)"
          [ngStyle]="{top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}">
        </div>
      </div>
    </div>
  </div>

</ng-template>


<calendar 
  [weekviewNormalEventSectionTemplate]="template" [dayviewNormalEventSectionTemplate]="template"
  [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
  [dateFormatter]="calendar.dateFormatter" [startHour]="calendar.menor" [endHour]="calendar.mayor"
  [lockSwipes]="false" step="80">
</calendar>
</ion-content>