<ion-header>
  <ion-toolbar color="primary" class="animated fadeIn">
    <ion-buttons slot="start">
      <ion-button size="small" shape="round" color="medium" (click)="messages()">
        <ion-icon slot="icon-only" name="mail"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <!-- [placeholder]="translate.get('userlist.search')" -->
        <!-- {{ 'app.name' | translate }} -->
        {{ 'app.name' | translate }} <ion-text color="tertiary" class="fw700"> {{ 'app.version' | translate }}
        </ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="editprofile()">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button size="small" shape="round" color="medium" (click)="settings()">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-light ion-padding animated fadeIn fast">
  <div class="theme-bg"></div>

  <h2 class="ion-text-center">
    <ion-text color="tertiary">{{ 'app.pages.homelocation.label.setlocation' | translate }}</ion-text>
  </h2>

  <ion-searchbar class="ion-no-padding" [(ngModel)]="setlocation" (ionInput)="getItems($event)"
    (ionCancel)="showItems = !showItems" color="light" showCancelButton="focus" autocomplete="on" search-icon="map"
    animated debounce="500" placeholder="Destination or address..." cancelButtonText="Cancel"></ion-searchbar>

  <ion-card class="ion-padding-vertical ion-no-margin bg-primary animated fadeIn" *ngIf="showItems">
    <ion-item color="primary" *ngFor="let item of items" tappable (click)="goToHomeResults()">
      <ion-icon name="pin" slot="start" color="tertiary"></ion-icon>
      {{ item }}
    </ion-item>
  </ion-card>

  <h4 class="ion-text-center">
    <ion-text color="tertiary">{{ 'app.pages.homelocation.label.or' | translate }}</ion-text>
  </h4>

  <ion-button expand="block" color="secondary" (click)="goToHomeResults()">
    <ion-icon slot="start" color="light" name="pin"></ion-icon>
    <ion-text color="light">{{ 'app.pages.homelocation.label.mylocation' | translate }}</ion-text>
  </ion-button>

</ion-content>