// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  //--ion-color-primary: #1051ac;
  --ion-color-primary: #005b85;
  --ion-color-primary-rgb: 44,167,148;
  --ion-color-primary-contrast: #f6f7f8;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #279382;
  --ion-color-primary-tint: #41b09f;

  --ion-color-secondary: #fcf9f9;
  --ion-color-secondary-rgb: 120,165,36;
  --ion-color-secondary-contrast: #0744de;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #6a9120;
  --ion-color-secondary-tint: #1399ef;

  --ion-color-tertiary: #f2f2f2;
  --ion-color-tertiary-rgb: 189,210,83;
  --ion-color-tertiary-contrast: #0744de;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #a6b949;
  --ion-color-tertiary-tint: #c4d764;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  //--ion-color-dark: #2075f1;005b85
  --ion-color-dark: #005b85;
  --ion-color-dark-rgb: 24,113,97;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #156355;
  --ion-color-dark-tint: #0da6e3;

  --ion-color-medium: #f1f1f4;
  --ion-color-medium-rgb: 193,201,153;
  --ion-color-medium-contrast: #2ca794;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #aab187;
  --ion-color-medium-tint: #c7cea3;

  --ion-color-light: #ffff;
  --ion-color-light-rgb: 242,255,252;
  --ion-color-light-contrast: #2ca794;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d5e0de;
  --ion-color-light-tint: #f3fffc;
}
