<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Amautak</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-no-margin">
    <h1 class="ion-text-center fw700">
      <ion-text color="dark">TÍTULOS</ion-text>
    </h1>
  
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-padding">

          <ion-list class="ion-margin-bottom">
            <ion-list-header color="light">
              <ion-label class="fw700">Títulos Registrados</ion-label>
            </ion-list-header>

            <div *ngFor="let a of titulos">
            <ion-list>
              <ion-item >
                <ion-label class="fw700"><p style="color: black;">{{a.senescyt_titulos_profe}}</p><p style="color: black;">{{a.nivel_profesor}}</p></ion-label>

                <div class="item-note" item-end>
                  <ion-button size="small" color="primary"  (click)="updateTitulos(a)">
                      <ion-icon name="create"></ion-icon>
                  </ion-button>
                  <ion-button size="small" color="danger" (click)="deleteTitulo(a)">
                      <ion-icon name="trash"></ion-icon>
                  </ion-button>
                  
              </div>
              </ion-item>
              
            </ion-list>
            </div><br><br>


            

            <ion-list-header color="light">
              <ion-label class="fw700">Registrar Nuevos Títulos</ion-label>
            </ion-list-header>

            <br><br>
            <ion-item>
              <ion-label color="dark" position="stacked">Nombre Título:</ion-label>
              <ion-input [(ngModel)]="nombre"  placeholder="" >
              </ion-input>
            </ion-item>

            <br><br>
            <ion-item>
              <ion-label color="dark" position="stacked">Nivel Título:</ion-label>
              <ion-input [(ngModel)]="nivel"  placeholder="" >
              </ion-input>
            </ion-item>
           
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button (click)="enviartitulos()" size="large" expand="full" color="dark"  class="ion-no-margin">
     GUARDAR TÍTULOS</ion-button>
  </ion-card>

</ion-content>
