:host {
    ion-content {
       // --background: linear-gradient(135deg, #000000, #000000);
       --background: linear-gradient(200deg, #e4e4e4 0%, #005b85 70%);
    }
    /*ion-content {
        --background: linear-gradient(135deg, #ffffff, #ffffff);
    }*/
}


.back {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    margin-top: 15px;
    margin-left: 15px;
    color: #ffffff;
}

.theme-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: .12; //.12
    background-image: url("/assets/img/ionproperty2-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paz {
    position: relative;
    z-index: 10;
}
