<ion-content class="ion-padding animated fadeIn login auth-page">
    <div class="theme-bg"></div>


    <div >
        <ion-button slot="start" color="dark" (click)="goToLogin()">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-button>
    </div>

    <ion-grid>

        <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="12" size-lg="6" size-md="4">
                <div>
                    <div class="auth-content">
                        <!-- Logo -->
                        <div class="ion-padding-horizontal ion-text-center animated fadeInDown">

                            <div class="logo" (click)="goInicio()"></div>
                            <h3 ion-no-margin>
                                <ion-text color="light" class="fw700">
                                    <!-- <ion-text color="secondary">{{ 'app.pages.register.title.header' | translate }}</ion-text>-->
                                </ion-text>
                            </h3>
                        </div>
                        <!-- Register form -->
                        <form [formGroup]="onRegisterForm" class="list-form">
                            <ion-item class="ion-no-padding animated fadeInUp">
                                <ion-label position="floating" style="font-size: 18px;">
                                    <ion-icon name="person"></ion-icon>
                                    {{ 'app.label.name' | translate }}
                                </ion-label>
                                <ion-input color="secondary" type="text" formControlName="name"></ion-input>
                            </ion-item>
                            <p class="text08"
                               *ngIf="onRegisterForm.get('name').touched && onRegisterForm.get('name').hasError('name')">
                                <ion-text color="warning">
                                    {{ 'app.label.errors.field' | translate }}
                                </ion-text>
                            </p>

                            <ion-item class="ion-no-padding animated fadeInUp">
                                <ion-label position="floating" style="font-size: 18px;">
                                    <ion-icon name="person"></ion-icon>
                                    {{ 'app.label.lastname' | translate }}
                                </ion-label>
                                <ion-input color="secondary" type="text" formControlName="apellido"></ion-input>
                            </ion-item>
                            <p class="text08"
                               *ngIf="onRegisterForm.get('apellido').touched && onRegisterForm.get('apellido').hasError('apellido')">
                                <ion-text color="warning">
                                    {{ 'app.label.errors.field' | translate }}
                                </ion-text>
                            </p>

                            <ion-item class="ion-no-padding animated fadeInUp">
                                <ion-label position="floating" style="font-size: 18px;">
                                    <ion-icon name="mail" item-start></ion-icon>
                                    {{ 'app.label.email' | translate }}
                                </ion-label>
                                <ion-input color="secondary" type="email" formControlName="email"></ion-input>
                            </ion-item>
                            <p class="text08"
                               *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">
                                <ion-text color="warning">
                                    {{ 'app.label.errors.field' | translate }}
                                </ion-text>
                            </p>

                            <ion-item class="ion-no-padding animated fadeInUp">
                                <ion-label position="floating" style="font-size: 18px;">
                                    <ion-icon name="lock" item-start></ion-icon>
                                    {{ 'app.label.password' | translate }}
                                </ion-label>
                                <ion-input color="secondary" type="password" formControlName="password"></ion-input>
                            </ion-item>
                            <p color="warning" class="text08"
                               *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">
                                <ion-text color="warning">
                                    {{ 'app.label.errors.field' | translate }}
                                </ion-text>
                            </p>

                            <ion-item class="ion-no-padding animated fadeInUp">
                                <ion-label position="floating" style="font-size: 18px;">
                                    <ion-icon name="lock" item-start></ion-icon>
                                    {{ 'app.label.passwordConfirm' | translate }}
                                </ion-label>
                                <ion-input color="secondary" type="password"
                                           formControlName="passwordConfirm"></ion-input>
                            </ion-item>
                            <p color="warning" class="text08"
                               *ngIf="onRegisterForm.get('passwordConfirm').touched && onRegisterForm.get('passwordConfirm').hasError('required')">
                                <ion-text color="warning">
                                    {{ 'app.label.errors.field' | translate }}
                                </ion-text>
                            </p>
                            <p color="warning" class="text08" *ngIf="!onRegisterForm.get('passwordConfirm').hasError('required') &&
                                       onRegisterForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                                <ion-text color="warning">
                                    {{ 'app.label.errors.password' | translate }}
                                </ion-text>
                            </p>
                            <ion-item class="ion-no-padding animated fadeInUp">
                                <ion-radio-group value="rol" formControlName="rol">
                                    <ion-label position="floating" style="font-size: 18px;">
                                        {{ 'app.label.rol' | translate }}
                                    </ion-label>
                                    <br>
                                    <ion-item *ngFor="let rol of rolesRegister">
                                        <ion-label style="font-size: 18px;"> {{rol.clave}}</ion-label>
                                        <ion-radio slot="start" color="success" [value]="rol.valor"></ion-radio>
                                    </ion-item>
                                </ion-radio-group>
                            </ion-item>

                        </form>

                        <div class="ion-margin-top">
                            <ion-button icon-left size="medium" expand="full" shape="round" color="dark"
                                        (click)="signUp()"
                                        [disabled]="!onRegisterForm.valid" tappable style="font-size: 18px;height: 5vh">
                                <ion-icon name="log-in"></ion-icon>
                                {{ 'app.button.signup' | translate }}
                            </ion-button>


                        </div>

                        <!-- Other links -->
                        <div class="ion-text-center ion-margin-top">
      <span (click)="goToLogin()" class="paz" tappable>
        <ion-text color="light" style="font-size: 18px">
          <strong>{{ 'app.pages.register.label.ihave' | translate }}</strong>
        </ion-text>
      </span>
                        </div>

                    </div>
                </div>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
