<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button *ngIf="tipousuario==='ESTUDIANTE'" size="small" shape="round" title="Añadir a Favoritos" (click)="favorite(property)">
                <ion-icon name="heart"></ion-icon> 
            </ion-button>
            <ion-button size="small" shape="round" title="Redes Sociales"  (click)="share()">
                <ion-icon name="md-more"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content  class="ion-text-center">
    <ion-grid>

        <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="12" size-lg="6" size-md="4">
                <div>
  <span class="card-img-status fw500 text-white" *ngIf="property.period === true"
        [ngClass]="{'closed': property.period === true, 'open': property.period === false}" style="color: #009c17;">
    <ion-text class="textenlinea" *ngIf="property.period === true">En línea</ion-text>

  </span>

                    <ion-card-content class="bg-profile">
                        <img style="border-radius: 50%;" [src]="property.picture"
                             onerror="this.src='./assets/img/avatar.png';">

                    </ion-card-content>


                    <ion-card class="bg-white">
                        <ion-card-content class="ion-text-center">
                            <h1 class="ion-text-center fw700">
                                <ion-text color="dark">{{property.title}}</ion-text>
                            </h1>

                                 
                                        <div>
                                            <!--<ion-icon style="color: #005b85;" name="locate"></ion-icon>-->
                                            
                                            <h2 style="color: black;">
                                                <ion-text color="black"><strong>{{ property.city }}</strong>
                                                </ion-text>
                                            </h2>
                                        </div>
                                        <div>
                                            <!--<ion-icon style="color: #005b85;" name="book"></ion-icon>-->
                                            <h2 style="color: black;">
                                                <ion-text color="black" *ngFor="let ensena of property.ensena"><strong>{{ ensena.nombre_materia }}. </strong>
                                                </ion-text>
                                            </h2>
                                        </div>
                                        <div>
                                            <!--<ion-icon style="color: #005b85;" name="cash"></ion-icon>-->
                                                <h2 style="color: black;">
                                                    <ion-text color="black"><strong>USD. {{ property.price }}/h</strong>
                                                    </ion-text>
                                                </h2>
                                        </div>

                            <div *ngIf="tipousuario!='CLIENTE'" routerLink="/broker-detail/{{property.id}}" style="width: 100%; padding: 1em">
                                <ion-icon name="call"></ion-icon>
                                <ion-badge color="success">
                                    <ion-text color="light">Contactar</ion-text>
                                </ion-badge>
                            </div>
                            <!--
                            <div class="ion-text-center ion-margin-top">
                              <ion-chip color="dark">
                                <ion-icon name="pricetag" color="dark"></ion-icon>
                                <ion-label>{{property.tags}}</ion-label>
                              </ion-chip>

                              <ion-chip color="primary" outline="true">
                                <ion-icon name="bed"></ion-icon>
                                <ion-label>{{ property.bedrooms }} bedrooms</ion-label>
                              </ion-chip>

                              <ion-chip color="primary" outline="true">
                                <ion-icon name="water"></ion-icon>
                                <ion-label>{{ property.bathrooms }} bathrooms</ion-label>
                              </ion-chip>

                              <ion-chip color="primary" outline="true">
                                <ion-icon name="home"></ion-icon>
                                <ion-label>{{ property.square }}<sup>m2</sup></ion-label>
                              </ion-chip>
                                  </div>-->
                        </ion-card-content>
                    </ion-card>


                    <ion-grid class="ion-no-padding">
                        <ion-row class="ion-no-padding">
                            <ion-col>
                                <ion-segment color="primary" [(ngModel)]="propertyopts" class="ion-padding-horizontal">
                                    <ion-segment-button value="description">
                                        Descripción
                                    </ion-segment-button>
                                    <ion-segment-button value="location">
                                        Reservar
                                    </ion-segment-button>
                                </ion-segment>

                                <div [ngSwitch]="propertyopts" class="ion-padding-horizontal">
                                    <div *ngSwitchCase="'description'">
                                        <ion-card class="ion-no-margin bg-white">
                                            <ion-button (click)="cambiarEstado5()" color="dark" style="width: 100%">Video de presentación<ion-icon
                                                *ngIf="estado5===false" name="arrow-dropdown"></ion-icon>
                                              <ion-icon *ngIf="estado5===true" name="arrow-dropup"></ion-icon>
                                            </ion-button>
                                            <ion-card-content *ngIf="estado5===true">
                              
                                              <div class="card-background-page" *ngIf="verVideo" style="text-align: center;">
                                                <div>
                                                  <video [src]="urlvideo" poster="../../../assets/img/play.png" controls autoplay style="width: 100%;height: 400px;"></video>
                                                </div>
                                                <br>
                                              
                                              </div>
                              
                              
                                            </ion-card-content>
                                          </ion-card>
                                        <ion-card class="ion-no-margin bg-white">
                                            <ion-button (click)="cambiarEstado2()" color="dark" style="width: 100%">Presentación
                                                <ion-icon *ngIf="estado2===false"
                                                          name="arrow-dropdown"></ion-icon>
                                                <ion-icon *ngIf="estado2===true" name="arrow-dropup"></ion-icon>
                                            </ion-button>
                                            <ion-card-content *ngIf="estado2===true" style="text-align:  justify;">
                                                <p>
                                                    <ion-text>
                                                <p>{{property.description}}</p>
                                                <p>{{property.experiencia}}</p>
                                                <p>{{property.preferencia_ense}}</p>
                                                </ion-text>
                                                </p>
                                            </ion-card-content>
                                        </ion-card>

                                        <ion-card class="ion-no-margin bg-white">
                                            <ion-button (click)="cambiarEstado1()" color="dark" style="width: 100%">Enseña
                                                <ion-icon *ngIf="estado1===false"
                                                          name="arrow-dropdown"></ion-icon>
                                                <ion-icon *ngIf="estado1===true" name="arrow-dropup"></ion-icon>
                                            </ion-button>
                                            <ion-card-content *ngIf="estado1===true">
                                                <div *ngFor="let clase of property.ensena">
                                                    <p>
                                                        <ion-row>
                                                            <div><b>{{clase.categoria}}:</b></div>
                                                        </ion-row>
                                                        <ion-row>
                                                            <div>{{clase.nombre_materia}}</div>
                                                        </ion-row>
                                                    </p>
                                                </div>
                                            </ion-card-content>
                                        </ion-card>


                                        <ion-card class="ion-no-margin bg-white">
                                            <ion-button (click)="cambiarEstado3()" color="dark" style="width: 100%">Estudios Y
                                                Certificaciones
                                                <ion-icon
                                                        *ngIf="estado3===false" name="arrow-dropdown"></ion-icon>
                                                <ion-icon *ngIf="estado3===true" name="arrow-dropup"></ion-icon>
                                            </ion-button>
                                            <ion-card-content *ngIf="estado3===true">
                                                <div *ngFor="let estudios of property.estudios">
                                                    <p>
                                                        <ion-row>
                                                            <div><b>{{estudios.tipo}}:</b></div>
                                                        </ion-row>
                                                        <ion-row>
                                                            <div>{{estudios.descripcion}}</div>
                                                        </ion-row>
                                                    </p>
                                                </div>
                                            </ion-card-content>
                                        </ion-card>

                                        <ion-card class="ion-no-margin bg-white">
                                            <ion-button (click)="cambiarEstado4()" color="dark" style="width: 100%">Idiomas que habla
                                                <ion-icon
                                                        *ngIf="estado4===false" name="arrow-dropdown"></ion-icon>
                                                <ion-icon *ngIf="estado4===true" name="arrow-dropup"></ion-icon>
                                            </ion-button>
                                            <ion-card-content *ngIf="estado4===true">

                                                <div *ngFor="let idioma of property.idiomas">
                                                    <p>
                                                        <ion-row>
                                                            <ion-col>
                                                                <div><b>{{idioma.nombre}}:</b></div>
                                                            </ion-col>
                                                            <ion-col>
                                                                <div>{{idioma.nivel}}</div>
                                                            </ion-col>
                                                        </ion-row>
                                                    </p>
                                                </div>


                                            </ion-card-content>
                                        </ion-card>
                                        <br><br>
                                        <!--<app-calendario></app-calendario>-->
                                    </div>

                                    <!--   <div *ngSwitchCase="'location'">

                                      <ion-card class="ion-no-margin bg-white">
                                        <agm-map [latitude]="property.lat" [longitude]="property.long" [zoom]="12">
                                          <agm-marker [latitude]="property.lat" [longitude]="property.long">
                                          </agm-marker>
                                        </agm-map>

                                        <ion-card-content>
                                          <h2 class="ion-text-center">
                                            <ion-text color="primary">{{property.address}} • {{property.city}}, {{property.state}} -
                                              {{property.zip}}</ion-text>
                                          </h2>

                                          <hr class="ion-margin-bottom bg-tertiary">

                                          <h2 class="fw700">
                                            <ion-text color="dark">Visit Hour</ion-text>
                                          </h2>
                                          <p class="ion-margin-bottom">
                                            <ion-text color="primary">Open 11AM • Closes 11PM</ion-text>
                                          </p>

                                        </ion-card-content>
                                      </ion-card>

                                      <br><br><br><br>

                                    </div>-->
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                   
                    <div *ngIf="calendario">
                        <h1 class="ion-text-center fw700">
                            <ion-text color="dark">RESERVAS ONLINE</ion-text>
                        </h1>

                        
                        <div style="text-align: start;">
                                        <ion-note style="color: black;"> Se acepta solicitudes de clase con un mínimo de
                                            2 horas de antelación.
                                        </ion-note>
                                        <br>
                                        <ion-note style="color: black;">Las clases tienen una duración de 60 minutos.
                                        </ion-note>
                                    </div>

                        <ion-grid>
                            <ion-row>
                                <ion-col style="text-align: center;">
                                    <div>
                                        <ion-icon style="color: #10009c;" name="create"></ion-icon>
                                        <ion-note color="primary"> Reservar una clase online</ion-note>
                                    </div>
                                </ion-col>

                                <ion-col style="text-align: center;">
                                    <div>
                                        <ion-icon style="color: black;" name="today"></ion-icon>
                                        <ion-note style="color: black;">(El calendario se muestra en tu hora local)
                                        </ion-note>
                                    </div>
                                </ion-col>

                            </ion-row>
                        </ion-grid>


                        <ion-grid>
                            <ion-row>
                                <ion-col style="text-align: center;">
                                    <div>
                                        <ion-icon style="color: #10009c;" name="bookmark"></ion-icon>
                                        <ion-note color="primary">Hora Pendiente</ion-note>
                                    </div>
                                </ion-col>
                                <ion-col style="text-align: center;">
                                    <div>
                                        <ion-icon style="color: #eb1414;" name="bookmark"></ion-icon>
                                        <ion-note color="danger">Hora Confirmada</ion-note>
                                    </div>
                                </ion-col>
                                <ion-col style="text-align: center;">
                                    <div>
                                        <ion-icon style="color: #009c17;" name="bookmark"></ion-icon>
                                        <ion-note style="color: #009c17;">Hora Disponible</ion-note>
                                    </div>
                                </ion-col>
                                <ion-col style="text-align: center;">
                                    <div>
                                        <ion-icon style="color: #f0ce0e;" name="bookmark"></ion-icon>
                                        <ion-note style="color: #f0ce0e;">En línea</ion-note>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid *ngIf="calendario">

        <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="12" size-lg="6" size-md="4" style="height: 101vh;">
                <div style="height: 100%;">
                    <ng-template #template let-tm="tm" let-hourParts="hourParts" let-eventTemplate="eventTemplate"
                                 style="height: 100%;">


                        <div [ngClass]="{'calendar-event-wrap': tm.events}" *ngIf="tm.events" style="height: 100%;">
                            <div *ngFor="let displayEvent of tm.events">
                                <div *ngIf="displayEvent.event.reservado==1  && displayEvent.event.startTime>horas[1] || enlinea || !enlinea">
                                    <div (click)="disponible(displayEvent)"
                                         [class.active]="displayEvent.event.id == activeid && active"
                                         style="background-color: rgb(0, 156, 23);"
                                         class="calendar-event" tappable (press)="Options(displayEvent.event.id)"
                                         (tap)="onEventSelected(displayEvent.event)"
                                         [ngStyle]="{top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}">
                                    </div>
                                </div>
                                <div *ngIf="displayEvent.event.reservado==1 && enlinea && displayEvent.event.startTime>= horas[0]  && displayEvent.event.startTime<= horas[1]">
                                    <div (click)="disponible(displayEvent)"
                                         [class.active]="displayEvent.event.id == activeid && active"
                                         style="background-color: rgb(240, 206, 14);"
                                         class="calendar-event" tappable (press)="Options(displayEvent.event.id)"
                                         (tap)="onEventSelected(displayEvent.event)"
                                         [ngStyle]="{top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}">
                                    </div>
                                </div>
                                <div *ngIf="displayEvent.event.reservado==2">
                                    <div [class.active]="displayEvent.event.id == activeid && active"
                                         style="background-color: rgb(16, 0, 156);"
                                         class="calendar-event" tappable (press)="Options(displayEvent.event.id)"
                                         (tap)="onEventSelected(displayEvent.event)"
                                         [ngStyle]="{top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}">
                                    </div>
                                </div>
                                <div *ngIf="displayEvent.event.reservado==3">
                                    <div [class.active]="displayEvent.event.id == activeid && active"
                                         style="background-color: rgb(235, 20, 20);"
                                         class="calendar-event" tappable (press)="Options(displayEvent.event.id)"
                                         (tap)="onEventSelected(displayEvent.event)"
                                         [ngStyle]="{top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>


                    <calendar *ngIf="calendario && !cargar" [weekviewNormalEventSectionTemplate]="template"
                              [dayviewNormalEventSectionTemplate]="template" [eventSource]="eventSource"
                              [calendarMode]="calendar.mode"
                              [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
                              (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
                              [dateFormatter]="calendar.dateFormatter" [lockSwipes]="false" step="80">
                    </calendar>
                </div>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>

        <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="12" size-lg="6" size-md="4">
                <div>
                    <div style="text-align: center;font-weight: bold;">
                        <ion-icon *ngIf="!calendario" style="color: #eb1414;" name="sad"></ion-icon>
                        <ion-note *ngIf="!calendario" color="danger">EL PROFESOR NO CUENTA CON HORAS REGISTARADAS
                        </ion-note>
                    </div>


                    <div>
                        <div class="calificar" fixed>

                                    <ion-button *ngIf="idUsuarioLogueado!=propertyID && tipousuario!='CLIENTE'"
                                                (click)="abrircomentar()" color="dark" style="width: 100%">CALIFICAME
                                        <ion-icon *ngIf="!calificar"
                                                  name="arrow-dropdown"></ion-icon>
                                        <ion-icon *ngIf="calificar" name="arrow-dropup"></ion-icon>
                                    </ion-button>


                            <div *ngIf="calificar">
                                <!-- # -->
                                <ion-item lines="none" class="bg-white" tappable>
                                    <ion-label>
                                        <ion-row>
                                            <ion-col>
                                                <ionic4-star-rating #rating activeIcon="ios-star"
                                                                    defaultIcon="ios-star-outline" activeColor="#DFB50D"
                                                                    defaultColor="#EAE9E5" readonly="false" rating="1"
                                                                    fontSize="32px"
                                                                    (ratingChanged)="logRatingChange($event)" style="text-align: center;">
                                                </ionic4-star-rating>
                                                <textarea rows="5" class="input-comentario" [(ngModel)]="comentario"
                                                          placeholder="Ingresa tu comentario"></textarea>
                                            </ion-col>
                                        </ion-row>
                                        <div>
                                            <ion-button class="btn-enviar" color="dark" size="small" shape="round"
                                                        (click)="enviarcomentario()" style="text-align: right">
                                                <ion-icon name="save"></ion-icon>
                                                CALIFICAR
                                            </ion-button>
                                        </div>
                                    </ion-label>
                                </ion-item>
                            </div>

                        </div>
                    </div>

                    <div>
                        <ion-grid class="ion-no-padding" fixed>
                            <ion-row class="ion-no-padding">
                                <ion-col class="ion-no-padding">
                                    <!--<ion-button class="ion-no-margin" expand="full" size="medium" color="secondary">
                                        VALORACIONES ESTUDIANTES
                                    </ion-button>-->

                                    <ion-button  color="dark" style="width: 100%">VALORACIONES ESTUDIANTES
                                    </ion-button>
                                </ion-col>
                            </ion-row>

                            <div *ngFor="let a of comentarios; index as i"><br><br>
                            <!-- # -->
                            <ion-item *ngIf="comentariosAll" lines="none" class="bg-white" tappable>
                                <ion-thumbnail slot="start">
                                  <img style="border-radius: 50%;" [src]="a.foto" onerror="this.src='./assets/img/avatar.png';">
                                </ion-thumbnail>
                                <ion-label>
                                  <ion-row>
                                    <ion-col>
                                   <h2>
                                        <ion-text color="dark"><strong>{{a.nombre}}</strong></ion-text>
                                      </h2>
                      
                                        <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#ea8d16"
                                        defaultColor="#e8dede" readonly="true" [rating]="a.valoracion" fontSize="22px">
                                      </ionic4-star-rating>
                      
                                      <p class="text-12x">
                                        <ion-text text-wrap color="primary" style="color: black; text-align: justify"><p>{{a.comentario}}.</p>
                                        </ion-text>
                                      </p>
                                    </ion-col>  
                                  </ion-row>
                                  <ion-badge slot="end" color="primary" *ngIf="property.label === true">
                                    <ion-text color="light">{{a.fecha}}</ion-text>
                                  </ion-badge>
                                </ion-label>
                              </ion-item>
                              <ion-item *ngIf="!comentariosAll && i>=0 && i<=2" lines="none" class="bg-white" tappable>
                                 <ion-thumbnail slot="start">
                                        <img style="border-radius: 50%;" [src]="a.foto"
                                             onerror="this.src='./assets/img/avatar.png';">
                                    </ion-thumbnail>
                                    <ion-label>
                                        <ion-row>
                                            <ion-col>
                                                <h2>
                                                    <ion-text color="dark"><strong>{{a.nombre}}</strong></ion-text>
                                                </h2>

                                                <ionic4-star-rating #rating activeIcon="ios-star"
                                                                    defaultIcon="ios-star-outline" activeColor="#ea8d16"
                                                                    defaultColor="#e8dede" readonly="true"
                                                                    [rating]="a.valoracion" fontSize="22px">
                                                </ionic4-star-rating>

                                                <p class="text-12x">
                                                    <ion-text text-wrap color="primary"
                                                              style="color: black; text-align: justify">
                                                <p>{{a.comentario}}.</p>
                                                </ion-text>
                                                </p>
                                            </ion-col>
                                        </ion-row>
                                        <ion-badge slot="end" color="primary" *ngIf="property.label === true">
                                            <ion-text color="light">{{a.fecha}}</ion-text>
                                        </ion-badge>
                                    </ion-label>
                                </ion-item>
                            </div>

                        </ion-grid>
                        <ion-button *ngIf="!comentariosAll" (click)="allcomentarios(true)"  color="dark" style="width: 100%">
                            Mas Resultados
                        </ion-button>
                        <ion-button *ngIf="comentariosAll" (click)="allcomentarios(false)" color="dark" style="width: 100%">
                            Menos Resultados
                        </ion-button>
                    </div>
                </div>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
