<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'app.pages.broker.title.header' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-grid>
    <ion-row >
      <ion-col size="3"></ion-col>
      <ion-col size="12" size-lg="6" size-md="4">
        <div>
          <ion-card class="ion-no-margin dotted">
            <ion-card-content class="bg-profile">


              <h2 class="ion-margin-bottom">
                <img [src]="datos.img" onerror="this.src='/assets/img/avatar.png';">

              </h2>
            </ion-card-content>
          </ion-card>

          <ion-card class="ion-no-margin bg-white dotted">
            <ion-list class="ion-no-padding ion-no-margin">
              <ion-item tappable href="tel: {{datos.telefono}}">
                <ion-label>
                  <h2 class="fw500">
                    <ion-text color="primary">{{datos.telefono}}</ion-text>
                  </h2>
                </ion-label>
                <ion-icon color="dark" name="call" slot="start"></ion-icon>
              </ion-item>

              <ion-item tappable href="tel: {{datos.telefono}}">
                <ion-label>
                  <h2 class="fw500">
                    <ion-text color="primary">{{datos.nombre}}</ion-text>
                  </h2>
                </ion-label>
                <ion-icon color="dark" name="phone-portrait" slot="start"></ion-icon>
              </ion-item>

              <ion-item tappable href="mailto:{{datos.correo}}">
                <ion-label>
                  <h2 class="fw500">
                    <ion-text color="primary"> {{datos.correo}}</ion-text>
                  </h2>
                </ion-label>
                <ion-icon color="dark" name="mail" slot="start"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-card>

          <ion-button size="large" expand="full" color="dark" tappable (click)="scheduleVisit(brokerID)"
                      class="ion-no-margin">
            {{ 'app.pages.schedule.title.header' | translate }}
            <ion-icon color="light" name="clock" slot="start"></ion-icon>
          </ion-button>

          <ion-button size="large" expand="full" color="secondary" tappable (click)="brokerChat(brokerID)"
                      class="ion-no-margin">
            {{ 'app.pages.chat.title.header' | translate }}
            <ion-icon name="chatboxes" slot="start"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
