<ion-content scrollY="true">

    <!--==========================
    Header
    ============================-->
    <header id="header" style="background-color: #005b85">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-between"
             style="background-color: #005b85; color: #FFFFFF">
            <h1 class="text-light">
                <a style="color: #FFFFFF"  (click)="goInicio()" class="scrollto">
                    <img src="assets/img/LOGO%20BLANCO.png"
                         style="height: 5rem; padding-left:65px; padding-bottom: 25px;"></a>
            </h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">


                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="color: #FFFFFF" href="#intro">Inicio <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #FFFFFF" href="#aboutinicio"> <i class=""></i> Objetivos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #FFFFFF" href="#services"> <i class=""></i>Categorias
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #FFFFFF" href="#features"> <i class=""></i>Como Funciona</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #FFFFFF" (click)="openHomeLocation()"> <i class=""></i>Tutores</a>
                    </li>

                    <li class="nav-item" *ngIf="tipoUsuario === 'CLIENTE'">
                        <a class="nav-link" style="color: #FFFFFF" (click)="openLoginPage()"><i
                                class=""></i> Iniciar Sesión</a>
                    </li>
                    <li class="nav-item" *ngIf="tipoUsuario === 'CLIENTE'">
                        <a class="nav-link" style="color: #FFFFFF" (click)="openRegisterPage()"><i
                                class=""></i> Registrate</a>
                    </li>
                    <ion-buttons *ngIf="tipoUsuario != 'CLIENTE'">
                        <ion-menu-button color="tertiary"></ion-menu-button>
                    </ion-buttons>
                </ul>

            </div>
        </nav>

    </header>
    <!-- #header -->

    <!--==========================
      Intro Section
    ============================-->
    <section id="intro" class="clearfix">
        <div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center">
                <div class="col-md-6 intro-info order-md-first order-last">
                    <h2>AMAUTAK TUTORIAS<br> aprende desde <span>casa!</span></h2>
                    <div>
                        <a href="#about" class="btn-get-started scrollto" (click)="openHomeLocation()">Busca tu
                            Profesor</a>
                    </div>
                </div>

                <div class="col-md-6 intro-img order-md-last order-first">
                    <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
                </div>
            </div>

        </div>
    </section>
    <!-- #intro -->
    <main id="main">

        <!--==========================
          About Us Section
        ============================-->
        <section id="aboutinicio">

            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="assets/img/about-img.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="about-content">
                            <h2>Quienes Somos</h2>
                            <h3>Odio sed id eos et laboriosam consequatur eos earum soluta.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                            <p>Aut dolor id. Sint aliquam consequatur ex ex labore. Et quis qui dolor nulla dolores
                                neque. Aspernatur consectetur omnis numquam quaerat. Sed fugiat nisi. Officiis veniam
                                molestiae. Et vel ut quidem alias veritatis repudiandae
                                ut fugit. Est ut eligendi aspernatur nulla voluptates veniam iusto vel quisquam. Fugit
                                ut maxime incidunt accusantium totam repellendus eum error. Et repudiandae eum iste qui
                                et ut ab alias.</p>
                            <ul>
                                <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                </li>
                                <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit
                                    in voluptate velit.
                                </li>
                                <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta
                                    storacalaperda mastiro dolore eu fugiat nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- #about -->


        <!--==========================
          Services Section
        ============================-->
        <section id="services" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3>Categorías</h3>
                </header>
              <!--<div class="box" *ngFor="let property of auxcategorias"  (click)="seleCategoria(property.nombre_categoria)">-->
                <div class="ion-no-margin">
                    <ion-grid>
                        <ion-row>
                            <div data-wow-delay="0.1s" data-wow-duration="1.4s"
                                 style="height: 60%; visibility: initial;" *ngFor="let property of auxcategorias">
                               
                                    <div class="box" >
                                    <img [src]='"/assets/img/categorias/" + property.imagen_categoria'
                                         style="height: 80px" alt="categoria">

                                    <div>
                                        <hr style="border-width: 5px;border-color:#0a98c0">
                                        <h5 class="card-title">
                                            <img src="/assets/img/ionProperty-ico-3.png"
                                                 style="height: 35px; width: 35px"
                                                 alt="categoria"> {{property.nombre_categoria}}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </ion-row>
                    </ion-grid>

                    
                </div>
              
            </div>
        </section>

        <section id="features">
            <div>

                <div class="row feature-item">
                    <div class="col-lg-6 ">
                        <img src="assets/img/features-1.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 fadeInUp pt-5 pt-lg-0">
                        <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4>
                        <p>
                            Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae
                            perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia
                            recusandae non ad at et a.
                        </p>
                        <p>
                            Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea
                            corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus
                            quia sit. Porro rerum eum eum.
                        </p>
                    </div>
                </div>

                <div class="row feature-item mt-5 pt-5">
                    <div class="col-lg-6  fadeInUp order-1 order-lg-2">
                        <img src="assets/img/features-2.svg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6  fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                        <h4>Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.
                        </h4>
                        <p>
                            Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis.
                            Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus
                            corporis autem at blanditiis beatae incidunt sunt.
                        </p>
                        <p>
                            Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse
                            molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
                        </p>
                        <p>
                            Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est
                            aut fuga mollitia exercitationem nam accusantium provident quia.
                        </p>
                    </div>

                </div>

            </div>
        </section>
        <!-- #about -->

        <!--==========================
          Clients Section
        ============================-->
        <section id="clients">
            <div class="container">

                <header class="section-header">
                    <h3>Nuestros Clientes</h3>
                </header>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/img/clients/client-1.png" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/clients/client-2.png" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/clients/client-3.png" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/clients/client-4.png" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/clients/client-5.png" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/clients/client-6.png" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/clients/client-7.png" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/clients/client-8.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- #clients -->


        <!--==========================
          Pricing Section
        ============================-->
        <section id="pricing" class="fadeInUp section-bg">

            <div class="container">

                <header class="section-header">
                    <h3>Precio</h3>
                    <p>¿Quieres ser un estudiante destacado de AMAUTAK?</p>
                </header>

                <div class="row flex-items-xs-middle flex-items-xs-center">

                    <!-- Basic Plan  -->
                    <div class="col-xs-12 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h3><span class="currency">$</span>0<span class="period">/Mes</span></h3>
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">
                                    Plan Amautak Básico
                                </h4>
                                <ul class="list-group">
                                    <li class="list-group-item">Clases Personalizadas</li>
                                    <li class="list-group-item">Profesores en linea</li>
                                </ul>
                                <a href="#" class="btn">Seleccionar este Plan</a>
                            </div>
                        </div>
                    </div>

                    <!-- Regular Plan  -->
                    <div class="col-xs-12 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h3><span class="currency">$</span>15<span class="period">/Mes</span></h3>
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">
                                    Plan Amautak Regular
                                </h4>
                                <ul class="list-group">
                                    <li class="list-group-item">Clases Personalizadas</li>
                                    <li class="list-group-item">Cancelaciones 1 hora de comenzar tu tutoria</li>
                                    <li class="list-group-item">1 curso certificado</li>
                                    <li class="list-group-item">Soporte 24/7</li>
                                </ul>
                                <a href="#" class="btn">Selecciona este Plan</a>
                            </div>
                        </div>
                    </div>

                    <!-- Premium Plan  -->
                    <div class="col-xs-12 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h3><span class="currency">$</span>39<span class="period">/Mes</span></h3>
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">
                                    Plan Amautak Premiun
                                </h4>
                                <ul class="list-group">
                                    <li class="list-group-item">Clases Personalizadas</li>
                                    <li class="list-group-item">Cancelaciones 1 hora de comenzar tu tutoria</li>
                                    <li class="list-group-item">Cursos certificados</li>
                                    <li class="list-group-item">Certificados por cursos</li>
                                    <li class="list-group-item">Soporte 24/7</li>
                                </ul>
                                <a href="#" class="btn">Seleccionar este Plan</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </section>
        <!-- #pricing -->

        <!--==========================
          Frequently Asked Questions Section
        ============================-->
        <section id="faq">
            <div class="container">
                <header class="section-header">
                    <h3>Preguntas Frecuentes</h3>
                    <p>Tienes dudas revisa nuestra seccion de preguntas</p>
                </header>

                <ul id="faq-list" class="fadeInUp">
                    <li>
                        <a data-toggle="collapse" class="collapsed" href="#faq1">Como contrato una tutoria? <i
                                class="ion-android-remove"></i></a>
                        <div id="faq1" class="collapse" data-parent="#faq-list">
                            <p>
                                Para contratar una tutoria realiza los sigueintes pasos.
                            </p>
                            <ul>
                                <li>Busca un profesor</li>
                                <li>Filtra la materia o categoría de tu gusto</li>
                                <li>Selecciona el profesor de tu gusto</li>
                                <li>Selecciona las horas a visualizar tu tutoria</li>
                                <li>Paga tu tutoria</li>
                                <li>Espera el correo de confirmación y acceso a tu clase</li>
                                <li>Ingresa al aplicativo Zoom</li>
                                <li>Empieza tu clase</li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq2" class="collapsed">Puedo cancelar una tutoria? <i
                                class="ion-android-remove"></i></a>
                        <div id="faq2" class="collapse" data-parent="#faq-list">
                            <p>
                                Si se puede cancelar una tutoria, con 1 hora de anticipación.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq3" class="collapsed">Con que tiempo puedo cancelar una
                            tutoria? <i class="ion-android-remove"></i></a>
                        <div id="faq3" class="collapse" data-parent="#faq-list">
                            <p>
                                Los usuarios pueden cancelar una tutoría con 1 hora de anticipación.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq4" class="collapsed">Como puedo pagar una tutoria? <i
                                class="ion-android-remove"></i></a>
                        <div id="faq4" class="collapse" data-parent="#faq-list">
                            <p>
                                Para pagar una tutoria solo la puede realizar con trajeta de débito o crédito.
                            </p>
                        </div>
                    </li>


                </ul>

            </div>
        </section>
        <!-- #faq -->

    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer" class="section-bg">
        <div class="footer-top">
            <div class="container">

                <div class="row">

                    <div class="col-lg-6">

                        <div class="row">

                            <div class="col-sm-6">

                                <div class="footer-info">
                                    <img src="/assets/img/ionProperty-ico-3.png"
                                         style="height: 75px; width: 75px"
                                         alt="categoria">
                                    <p></p>
                                </div>

                                <div class="footer-newsletter">
                                    <h4>Nuestro sitio</h4>
                                    <p>Uno de los mejores sitio para buscar tus clases personalizadas.
                                    </p>
                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="footer-links">
                                    <h4>Acceso Rápido</h4>
                                    <ul>
                                        <li><a href="#intro">Inicio</a></li>
                                        <li><a href="#about">Objetivos</a></li>
                                        <li><a href="#services">Categorias</a></li>
                                        <li><a href="#features">Como Funciona</a></li>
                                        <li><a (click)="openHomeLocation()">Tutores</a></li>
                                        <li><a (click)="openLoginPage()">Iniciar Sesión</a></li>
                                        <li><a (click)="openRegisterPage()">Registrate</a></li>
                                    </ul>
                                </div>

                                <div class="footer-links">
                                    <h4>Contactanos</h4>
                                    <p>
                                        A108 Adam Street <br> Manta<br> Ecuador <br>
                                        <strong>Telefono:</strong> +593 023 456 789<br>
                                        <strong>Email:</strong> info@amautaec.com<br>
                                    </p>
                                </div>

                                <div class="social-links">
                                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>

                            </div>

                        </div>

                    </div>



                </div>

            </div>
        </div>

        <div class="container" style="background-color: #0a98c0; color: #FFFFFF">
            <div class="copyright">
                &copy; Copyright <strong>Amauta</strong>. Todos los derechos reservados
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
                -->
                Diseñado por <a href="https://bootstrapmade.com/">Solutivo</a>
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->


</ion-content>
