:host {
    ion-content {
        --background: #ffffff;

    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}

.ccFlags {
    img {
      max-width: 32px;
      display: inline;
    }
  }
  
  ion-select {
      max-width: 100%;
  }